.social-a {
    padding: 5px;
}

.social-a:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.social-a img {
    width: 32px;
    height: 32px;
}