#archive-outer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#archive-inter {
    width: 80%;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px lightgray; 
    overflow: hidden;
}

#archive-year {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px
    font-size: 30px;
    font-weight: bold;
    color: theme_color;
    font-family: theme_font_family;
}

#archive-inter a {
    display: flex;
    align-items: center;
    height: 40px;
    color: theme_color;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    font-family: theme_font_family;
}

#archive-inter a:hover {
    color: theme_highlight_color;
    background-color: whitesmoke;
}

#archive-item-time {
    color: gray;
    font-size: 0.5em;
    padding-right: 20px;
}

