#menu-outer-x {
    background-color: theme_color; 
}

#menu-outer-home {
    background:rgba(0,0,0,0);
}

#menu-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

#site-title {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: theme_font_family;
}

#menu-inner a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 8px 0 8px;
    line-height: 44px;
    vertical-align: center; 
    font-family: theme_font_family;
} 

#menu-inner a:hover {
    text-decoration: underline;
}

